<!DOCTYPE html>
<html>
  <head>
    <title>Map</title>
    <meta charset="utf-8">
    <%= javascript_include_tag "application" %>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        float: left;
        width: 60%;

      }
      #panel {
        padding: 20px;
        float: left;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div id="panel">
      <b>Mode of Transportation</b>
      <select id="travelMode">
        <option value="DRIVING">Driving</option>
        <option value="TRANSIT">Public Transit</option>
        <option value="WALKING">On Foot</option>
      </select>
      <b>Start:</b>
      <input type="text" id="start" value="White Rock, BC">
      <br>
      <div id="waypointsBox">
        <p><b id="waypointsHeader">Waypoints:</b></p>
        <input type="checkbox" name="waypoint" value="Stanley park, BC">Stanley Park<br>
        <input type="checkbox" name="waypoint" value="Science World Vancouver">Science World<br>
        <input type="checkbox" name="waypoint" value="SFU, BC">Simon Fraser University, Burnaby Mountain Campus<br>
        <input type="checkbox" name="waypoint" value="SFU surrey, BC">Simon Fraser University, Surrey Campus<br>
        <input type="checkbox" name="waypoint" value="Vancouver Aquarium">Vancouver Aquarium<br>
        <input type="checkbox" name="waypoint" value="Vancouver Convention Centre">Vancouver Convention Centre<br>
        <input type="checkbox" name="waypoint" value="Capilano Suspension Bridge">Capilano Suspension Bridge<br>
        <input type="checkbox" name="waypoint" value="777 Pacific Blvd Vancouver, BC">BC Place<br>
        <input type="checkbox" name="waypoint" value="750 Hornby St Vancouver, BC">Vancouver Art Gallery<br>
        <input type="checkbox" name="waypoint" value="Granville Island">Granville Island<br>
        <input type="checkbox" name="waypoint" value="8811 River Rd, Richmond, BC">River Rock Casino<br>
        <input type="checkbox" name="waypoint" value="YVR">Vancouver International Airport<br>
      </div>
      <br>
      <b>End:</b>
      <input type="text" id="end" value="SFU, BC">
      <br>
      <input type="submit" id="submit">
      <p id="errorBox"></p>
    </div>
    <script>
      var map;

      //waypoints are hidden from user when public transit is selected
      var hideWaypts = function() {
        if (document.getElementById('travelMode').value == "TRANSIT") {
          document.getElementById('waypointsBox').style.display = 'none';
        } else {
          document.getElementById('waypointsBox').style.display = 'initial';
        }
      }
      document.getElementById('travelMode').addEventListener('change', hideWaypts);


      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 49.278947, lng: -122.916525},
          zoom: 14
        });
        directionsDisplay.setMap(map);

        var makeRoute = function() {
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        };

        document.getElementById('submit').addEventListener("click", makeRoute);
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {

        var waypts = []; //will collect the chosed waypoints
        var wayptsAll = document.getElementsByName('waypoint');

        //Waypoints are disabled if user is using public transit
        //Adds selected waypoints to waypts
        if (document.getElementById('travelMode').value !== "TRANSIT") {
          for (var i = 0; i < wayptsAll.length; i++) {
            if (wayptsAll[i].checked) {
              waypts.push({
                location: wayptsAll[i].value,
                stopover: true
              });
            }
          }
        }


        directionsService.route({
          origin: document.getElementById("start").value,
          destination: document.getElementById("end").value,
          waypoints: waypts,
          optimizeWaypoints: true,
          travelMode: google.maps.TravelMode[document.getElementById("travelMode").value]
        },
        function(response, status) {
          if (status === google.maps.DirectionsStatus.OK) {
            document.getElementById('errorBox').innerHTML = '';
            directionsDisplay.setDirections(response);
          } else {
            document.getElementById('errorBox').innerHTML = 'Error: ' + status;
          }
        })
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaU5DbGvX_-OOZwj-az4zT4iC6gp8MmQQ&callback=initMap"
    async defer></script>
  </body>
</html>
