<!DOCTYPE html>
<html id = "html">
  <head>
    <title>Map</title>
    <meta charset="utf-8">
  </head>
  <body id = "body">

    <div id="leftpanel">
      <div id="titlebox">
        <p id="title">SIGHTSEER</p>
        <p id="subtitle">route planner</p>
      </div>
      <div class="infobox">
        <p><b>Search For: </b></p>
        <select id="destinationType">
          <option selected disabled>Choose Destination Type</option>
          <option value="park">Parks</option>
          <option value="museum">Museums</option>
        </select>
        <p><b>Your Trip: </b></p>
        <table id="trip">
        </table>
        <button id="calcRouteButton">Calculate Route</button>
      </div>
    </div>

    <div id="map"></div>

    <div id="rightpanel">
      <div class="infobox">
        <p><b>Calculate Route</b></p>
        <p><b>Mode of Transportation</b></p>
        <select id="travelMode">
          <option value="DRIVING">Driving</option>
          <option value="TRANSIT">Public Transit</option>
          <option value="WALKING">On Foot</option>
        </select>

        <p><b>Start:</b></p>
        <input type="text" id="start" value="Chilliwack, BC">
        <br>
        <div id="waypointsBox">
          <p><b>Waypoints:</b></p>
          <input type="checkbox" name="waypoint" value="777 Pacific Blvd Vancouver, BC">BC Place<br>
          <input type="checkbox" name="waypoint" value="Capilano Suspension Bridge">Capilano Suspension Bridge<br>
          <input type="checkbox" name="waypoint" value="Granville Island">Granville Island<br>
          <input type="checkbox" name="waypoint" value="Grouse Mountain">Grouse Mountain<br>
          <input type="checkbox" name="waypoint" value="8811 River Rd, Richmond, BC">River Rock Casino<br>
          <input type="checkbox" name="waypoint" value="Stanley park, BC">Stanley Park<br>
          <input type="checkbox" name="waypoint" value="Science World Vancouver">Science World<br>
          <input type="checkbox" name="waypoint" value="SFU, BC">Simon Fraser University, Burnaby Mountain Campus<br>
          <input type="checkbox" name="waypoint" value="SFU surrey, BC">Simon Fraser University, Surrey Campus<br>
          <input type="checkbox" name="waypoint" value="Vancouver Aquarium">Vancouver Aquarium<br>
          <input type="checkbox" name="waypoint" value="750 Hornby St Vancouver, BC">Vancouver Art Gallery<br>
          <input type="checkbox" name="waypoint" value="Vancouver Convention Centre">Vancouver Convention Centre<br>
          <input type="checkbox" name="waypoint" value="YVR">Vancouver International Airport<br>
        </div>
        <br>
        <p><b>End:</b></p>
        <input type="text" id="end" value="SFU, BC">
        <br>
        <p><input type="submit" id="submit"></p>
        <p id="errorBox"></p>
      </div>
      <%= link_to 'Sign Out', login_url, id: 'back' %>
    </div>
    <div stype="display: none">
      <div id="IWcontent">
        <table>
          <tr id="IW-name-row">
            <td><b>Name: </b></td>
            <td id="IW-name"></td>
          </tr>
          <tr>
            <td>Rating: </td>
            <td id="IW-rating"></td>
          </tr>
          <tr id="IW-phone-row">
            <td>Phone Number: </td>
            <td id="IW-phone"></td>
          </tr>
          <tr id='IW-price-row'>
            <td>Price: </td>
            <td id="IW-price"></td>
          </tr>
          <tr>
            <td><button id='IW-addDest' type='button'>Add to Trip</button></td>
          </tr>
        </table>
      </div>
    </div>
    <script>
      var map;
      var places = [];
      var infowindows =[];
      var markers = [];
      var waypts = [];
      var wayptsT = [];
      var tripTable = document.getElementById("trip");
      var tableIndex = 0;

      //waypoints are hidden from user when public transit is selected DELETE ONCE TRIP IS IMPLEMENTED
      var hideWaypts = function() {
        if (document.getElementById('travelMode').value == "TRANSIT") {
          document.getElementById('waypointsBox').style.display = 'none';
        } else {
          document.getElementById('waypointsBox').style.display = 'initial';
        }
      }
      document.getElementById('travelMode').addEventListener('change', hideWaypts);



      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 49.278947, lng: -122.916525},
          zoom: 11
        });
        directionsDisplay.setMap(map);

        var callCalcRoute = function() {
          calcRoute(directionsService, directionsDisplay);
        }

        document.getElementById('calcRouteButton').addEventListener("click", callCalcRoute);

        var makeRoute = function() {
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        };

        document.getElementById('submit').addEventListener("click", makeRoute);

        var service = new google.maps.places.PlacesService(map);
        var doSearch = function() {
          var dtype = document.getElementById('destinationType').value;
          search(service, dtype);
        };

        document.getElementById('destinationType').addEventListener('change', doSearch);

      }

      //Finds search results and passes them to callback function
      function search(service, dtype) {
        service.nearbySearch({
          location: {lat: 49.278947, lng: -122.916525},
          radius: 50000,
          type: [dtype]
        }, callback);
      }

      //called by the search funtion. Calls createMarker for each search result.
      function callback(results, status) {
        clearMarkers();
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < results.length; i++) {
            places[i] = results[i];
            markers[i] = createMarker(i);
          }
        }
      }

      //creates a marker and an Infowindow that opens when the marker is clicked
      function createMarker(i) {
        var marker = new google.maps.Marker({
          map: map,
          position: places[i].geometry.location
        });

        /*
        //Will need to get this working for infowindows to have things like phone number or price
        places.getDetails({
          placeId: places[i].place_id
        },
        function(placeResults, status) {
          if (status == google.maps.places.PlacesServiceStatus.OK) {
            places[i] = placeResults;
          }
        });
        */

        infowindows[i] = new google.maps.InfoWindow({
          content: document.getElementById('IWcontent')
        });

        google.maps.event.addListener(marker, 'click', function() {
          document.getElementById('IW-name').innerHTML = places[i].name;
          if (places[i].rating) {
            document.getElementById('IW-rating').innerHTML = places[i].rating;
          }
          //requires getDetails
          if (places[i].formatted_phone_number) {
            document.getElementById('IW-phone').textContent = places[i].formatted_phone_number;
          }else{
            document.getElementById('IW-phone-row').style.display = 'none';
          }
          //requires getDetails
          if (places[i].price_level) {
            if (places[i].price_level == 1) {
              document.getElementById('IW-price').innerHTML = 'Inexpensive';
            }
            if (places[i].price_level == 2) {
              document.getElementById('IW-price').innerHTML = 'Moderate';
            }
            if (places[i].price_level == 3) {
              document.getElementById('IW-price').innerHTML = 'Expensive';
            }
            if (places[i].price_level == 4) {
              document.getElementById('IW-price').innerHTML = 'Very Expensive';
            }
          }else{
            document.getElementById('IW-price-row').style.display = 'none';
          }
          document.getElementById('IW-addDest').onclick = function() {addDest(i)};
          clearIWs();
          infowindows[i].open(map, marker);
        });
        return marker;
      }

      function addDest(i) {
        //add the destination location to the wayptsT list
        wayptsT.push({
          location: places[i].geometry.location,
          stopover: true
        });
        //add the destination name to the trip table
        var row = tripTable.insertRow(tableIndex++);
        var cell0 = row.insertCell(0);
        var cell1 = row.insertCell(1);
        cell0.innerHTML = places[i].name;
        cell1.innerHTML = '<input type="button" value="Delete" onclick="removeDest(this)">';
      }

      function removeDest(r) {
        var i = r.parentNode.parentNode.rowIndex;
        //remove the place from the wayptsT array
        wayptsT.splice(i, 1);
        //remove the place from the trip table
        tripTable.deleteRow(i);
        tableIndex--;
      }

      function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
            if (markers[i]) {
                markers[i].setMap(null);
            }
        }
        markers = [];
      }

      //closes any opened Infowindows. Called when route is being displayed.
      function clearIWs() {
        for (var i = 0; i < infowindows.length; i++) {
          infowindows[i].close();
        }
      }

      function calcRoute(directionsService, directionsDisplay) {
        clearMarkers();
        document.getElementById("destinationType").value = "";

        directionsService.route({
          origin: document.getElementById("start").value,
          destination: document.getElementById("end").value,
          waypoints: wayptsT,
          optimizeWaypoints: true,
          travelMode: google.maps.TravelMode[document.getElementById("travelMode").value]
        },
        function(response, status) {
          if (status === google.maps.DirectionsStatus.OK) {
            document.getElementById('errorBox').innerHTML = '';
            directionsDisplay.setDirections(response);
          } else {
            document.getElementById('errorBox').innerHTML = 'Error: ' + status;
          }
        })
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var wayptsAll = document.getElementsByName('waypoint');

        //Waypoints are disabled if user is using public transit
        //Adds selected waypoints to waypts
        if (document.getElementById('travelMode').value !== "TRANSIT") {
          for (var i = 0; i < wayptsAll.length; i++) {
            if (wayptsAll[i].checked) {
              waypts.push({
                location: wayptsAll[i].value,
                stopover: true
              });
            }
          }
        }


        directionsService.route({
          origin: document.getElementById("start").value,
          destination: document.getElementById("end").value,
          waypoints: waypts,
          optimizeWaypoints: true,
          travelMode: google.maps.TravelMode[document.getElementById("travelMode").value]
        },
        function(response, status) {
          if (status === google.maps.DirectionsStatus.OK) {
            document.getElementById('errorBox').innerHTML = '';
            directionsDisplay.setDirections(response);
          } else {
            document.getElementById('errorBox').innerHTML = 'Error: ' + status;
          }
        })
      }



    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaU5DbGvX_-OOZwj-az4zT4iC6gp8MmQQ&libraries=places&callback=initMap"
    async defer></script>
  </body>
</html>
