<!DOCTYPE html>
<html id = "html">
  <head>
    <title>Map</title>
    <meta charset="utf-8">
  </head>
  <body id = "body">

    <div id="leftpanel">
      <div id="titlebox">
        <p id="title">SIGHTSEER</p>
        <p id="subtitle">route planner</p>
      </div>
      <div class="infobox">
        <p><b>Search For: </b></p>
        <select id="destinationType">
          <option selected disabled>Choose Destination Type</option>
          <option value="park">Parks</option>
          <option value="museum">Museums</option>
        </select>
        <p><b>Your Trip: </b></p>
        <table id="trip">
        </table>
        <button id="calcRouteButton">Calculate Route</button>
      </div>
    </div>

    <div id="map"></div>

    <div id="rightpanel">
      <div class="infobox">
        <p><b>Calculate Route</b></p>
        <p><b>Mode of Transportation</b></p>
        <select id="travelMode">
          <option value="DRIVING">Driving</option>
          <option value="TRANSIT">Public Transit</option>
          <option value="WALKING">On Foot</option>
        </select>

        <p><b>Start:</b></p>
        <input type="text" id="start" value="Chilliwack, BC">
        <br>
        <div id="waypointsBox">
          <p><b>Waypoints:</b></p>
          <input type="checkbox" name="waypoint" value="777 Pacific Blvd Vancouver, BC">BC Place<br>
          <input type="checkbox" name="waypoint" value="Capilano Suspension Bridge">Capilano Suspension Bridge<br>
          <input type="checkbox" name="waypoint" value="Granville Island">Granville Island<br>
          <input type="checkbox" name="waypoint" value="Grouse Mountain">Grouse Mountain<br>
          <input type="checkbox" name="waypoint" value="8811 River Rd, Richmond, BC">River Rock Casino<br>
          <input type="checkbox" name="waypoint" value="Stanley park, BC">Stanley Park<br>
          <input type="checkbox" name="waypoint" value="Science World Vancouver">Science World<br>
          <input type="checkbox" name="waypoint" value="SFU, BC">Simon Fraser University, Burnaby Mountain Campus<br>
          <input type="checkbox" name="waypoint" value="SFU surrey, BC">Simon Fraser University, Surrey Campus<br>
          <input type="checkbox" name="waypoint" value="Vancouver Aquarium">Vancouver Aquarium<br>
          <input type="checkbox" name="waypoint" value="750 Hornby St Vancouver, BC">Vancouver Art Gallery<br>
          <input type="checkbox" name="waypoint" value="Vancouver Convention Centre">Vancouver Convention Centre<br>
          <input type="checkbox" name="waypoint" value="YVR">Vancouver International Airport<br>
        </div>
        <br>
        <p><b>End:</b></p>
        <input type="text" id="end" value="SFU, BC">
        <br>
        <p><input type="submit" id="submit"></p>
        <p id="errorBox"></p>
      </div>
      <%= link_to 'Sign Out', login_url, id: 'back' %>
    </div>
    <script>
      var map;
      var place;
      var placeLoc;
      var infowindow;
      var markers = [];
      var waypts = [];
      var wayptsT = [];
      var tripTable = document.getElementById("trip");

      //waypoints are hidden from user when public transit is selected DELETE ONCE TRIP IS IMPLEMENTED
      var hideWaypts = function() {
        if (document.getElementById('travelMode').value == "TRANSIT") {
          document.getElementById('waypointsBox').style.display = 'none';
        } else {
          document.getElementById('waypointsBox').style.display = 'initial';
        }
      }
      document.getElementById('travelMode').addEventListener('change', hideWaypts);



      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 49.278947, lng: -122.916525},
          zoom: 11
        });
        directionsDisplay.setMap(map);

        var callCalcRoute = function() {
          calcRoute(directionsService, directionsDisplay);
        }

        document.getElementById('calcRouteButton').addEventListener("click", callCalcRoute);

        var makeRoute = function() {
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        };

        document.getElementById('submit').addEventListener("click", makeRoute);

        infowindow = new google.maps.InfoWindow();
        var service = new google.maps.places.PlacesService(map);
        var doSearch = function() {
          var dtype = document.getElementById('destinationType').value;
          search(service, dtype);
        };

        document.getElementById('destinationType').addEventListener('change', doSearch);

      }

      function search(service, dtype) {
        service.nearbySearch({
          location: {lat: 49.278947, lng: -122.916525},
          radius: 50000,
          type: [dtype]
        }, callback);
      }

      function callback(results, status) {
        clearMarkers();
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < results.length; i++) {
            place = results[i];
            placeLoc = place.geometry.location;
            markers[i] = createMarker(place);
          }
        }
      }

      function addDest(place) {
        wayptsT.push({
          location: place.geometry.location,
          stopover: true
        });
        //add the place.location to the wayptsT array
        //add the place to the trip table
        var row = tripTable.insertRow(0);
        var cell0 = row.insertCell(0);
        cell0.innerHTML = place.name;
        //close the infowindow
      }

      function removeDest() {
        //remove the place from the wayptsT array
        //remove the place from the trip table
      }

      function createMarker(place) {
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name + "<button id='addDest' type='button' onclick='addDest(place)'>Add to Trip</button>");
          infowindow.open(map, this);
        });
        return marker;
      }

      function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
            if (markers[i]) {
                markers[i].setMap(null);
            }
        }
        markers = [];
      }

      function calcRoute(directionsService, directionsDisplay) {
        clearMarkers();

        directionsService.route({
          origin: document.getElementById("start").value,
          destination: document.getElementById("end").value,
          waypoints: wayptsT,
          optimizeWaypoints: true,
          travelMode: google.maps.TravelMode[document.getElementById("travelMode").value]
        },
        function(response, status) {
          if (status === google.maps.DirectionsStatus.OK) {
            document.getElementById('errorBox').innerHTML = '';
            directionsDisplay.setDirections(response);
          } else {
            document.getElementById('errorBox').innerHTML = 'Error: ' + status;
          }
        })
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var wayptsAll = document.getElementsByName('waypoint');

        //Waypoints are disabled if user is using public transit
        //Adds selected waypoints to waypts
        if (document.getElementById('travelMode').value !== "TRANSIT") {
          for (var i = 0; i < wayptsAll.length; i++) {
            if (wayptsAll[i].checked) {
              waypts.push({
                location: wayptsAll[i].value,
                stopover: true
              });
            }
          }
        }


        directionsService.route({
          origin: document.getElementById("start").value,
          destination: document.getElementById("end").value,
          waypoints: waypts,
          optimizeWaypoints: true,
          travelMode: google.maps.TravelMode[document.getElementById("travelMode").value]
        },
        function(response, status) {
          if (status === google.maps.DirectionsStatus.OK) {
            document.getElementById('errorBox').innerHTML = '';
            directionsDisplay.setDirections(response);
          } else {
            document.getElementById('errorBox').innerHTML = 'Error: ' + status;
          }
        })
      }



    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaU5DbGvX_-OOZwj-az4zT4iC6gp8MmQQ&libraries=places&callback=initMap"
    async defer></script>
  </body>
</html>
