#wholepage{
    position:relative;
    top:200px;
    
    color:white;
}

#adminEdit{
    color:white;
}

a:link{
    font-size: 20px;
    color:white;
    
}
a:visited{
    font-size: 20px;
    color:white;
    
}

#notice{
    
    color:red;
    font-size: 20px;
    font-style: bold;
    
}

th{
    width:250px;
    
}