// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map{
  height: 100%;
  float: left;
  width: 70%;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
.infobox {
  margin-left: auto;
  margin-right:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  width: 80%;
  background-color: white;
}
#rightpanel {
  height: 100%;
  width: 30%;
  padding: 20px;
  float: left;
  background-color: #0066CC;
}
#startPos, #endPos {
  font-weight: bold;
  display: none;
}
a:link.IWlink, a:visited.IWlink {
  color: blue;
}
